/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.accent-font {
    font-family: var(--font-accent), sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.page {
    inline-size: clamp(320px, 100%, 700px);
    min-block-size: 100dvb;
    margin-inline: auto;
    padding-block-end: 50px;
    background-image: var(--bg-image);
    background-repeat: repeat;
    background-color: var(--bg-color);
    background-position: center;
    background-attachment: fixed;
    font-family: var(--font-regular), sans-serif;
    font-variation-settings: 'wght' var(--font-weight-normal);
    color: var(--accent-color);
    inset-inline: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    block-size: clamp(327px, 100vh, 368px);
    margin-block: 100px;
    padding-block-end: 23px;
    background-color: var(--card-background-color);
    border: 2px solid var(--accent-color);
}


.logo {
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(49px, 1.9087rem + 4.9231vw, 65px);
    margin-block-end: 20px;
}

.header__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(14px, 0.774em + 0.845vi, 23px);
    margin-block-end: 25px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline-start: 19px;
}

.cards-section {
    margin-block-end: 50px;
}

.card__item {
    background-color: var(--card-background-color);
    font-size: 18px;
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
}

.card__item:not(:last-child) {
    margin-block-end: 48px;
}

.card__title {
    font-size: 18px;
    font-variation-settings: 'wght' var(--font-weight-bold);
    padding: 3px 24px 3px 10px;
    line-height: 26px;
    letter-spacing: 0.01rem;
}

.card__image-container {
    position: relative;
    max-block-size: 700px;
}

.card__image-label {
    color: var(--accent-color);
    opacity: 50%;
    text-shadow: -1px 0 var(--card-background-color),
    0 1px var(--card-background-color),
    1px 0 var(--card-background-color),
    0 -1px var(--card-background-color);
    text-transform: uppercase;
    mix-blend-mode: hard-light;
    position: absolute;
    inset-inline-end: 25px;
    inset-block-start: 25px;
}

@supports ((text-stroke: 1px var(--card-background-color)) or (-webkit-text-stroke: 1px var(--card-background-color))) {
    .card__image-label {
        -webkit-text-stroke: 1px var(--card-background-color);
        text-stroke: 1px var(--card-background-color);
        text-shadow: none;
    }
}

.card__image {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
    border-block: 2px solid var(--accent-color);
}

.brightness {
    filter: brightness(90%);
}

.saturate {
    filter: saturate(200%)
}

.blur {
    filter: blur(4px);
}

.contrast {
    filter: contrast(120%);
}

.sepia {
    filter: sepia(0.4);
}

.hue-rotate {
    filter: hue-rotate(0.2turn);
}

.grayscale {
    filter: grayscale(70%);
}

.hue-saturate {
    filter: hue-rotate(0.3deg) saturate(20%);
}

.card__bottom-zone {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
}

.card-description {
    display: flex;
    flex-direction: column;
    gap: 27px;
    letter-spacing: 0.04rem;
    font-variation-settings: 'wght' var(--font-weight-normal);
}

.card__buttons {
    display: flex;
    align-self: end;
    align-items: center;
    gap: 6px;
}

.dialog {
    padding: 30px;
    inline-size: clamp(341px, 90%, 353px);
    block-size: 194px;
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
    background-color: var(--card-background-color);
    color: var(--accent-color);
}

.dialog__description {
    text-transform: uppercase;
    line-height: 21px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-block-end: 30px;
}

.dialog__description .floppy {
    width: 39px;
    height: 39px;
    fill: var(--button-font-color);
}

.dialog__button {
    width: 100%;
    padding-block: 0.6em;
    text-transform: uppercase;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

@media (max-width: 400px) {
    .header {
        block-size: 327px;
    }

    .card__item:not(:last-child) {
        margin-block-end: 51px;
    }

    .card__title {
        line-height: 24px;
    }

    .card__image-container {
        max-block-size: 374px;
    }

    .card-description {
        letter-spacing: 0.05rem;
    }

    .footer__button {
        flex-direction: column;
    }

    .floppy {
        width: 28px;
        height: 28px;
    }

    .dialog {
        padding-inline: 42px;
        word-spacing: -0.15em;
    }
}
